@font-face {
  font-family: IranSans;
  src: url(../assets/font/Iran-Sans.ttf);
}
@keyframes dynamicStudent {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 70px;
  }
  100% {
    bottom: 50px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: IranSans;
}

section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .header {
  margin-top: 25px;
  z-index: 1;
}
section .header a img {
  width: 150px;
  height: auto;
}
section .diamond-img {
  position: relative;
  top: 30px;
  z-index: 1;
}
section .diamond-img img {
  width: 130px;
  height: auto;
}
section .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 151, 151, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: relative;
  bottom: 30px;
  width: 66%;
  height: 450px;
  border: 2px solid #3b8eb1;
  border-radius: 15px;
}
section .main h1 {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}
section .main h1 span {
  color: #FFD843;
}
section .main .icons-and-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}
section .main .icons-and-description .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 15% 0 5%;
}
section .main .icons-and-description .icons img {
  width: 25px;
  height: auto;
}
section .main .icons-and-description .icons .icon-subtitle {
  color: #ffffff;
  font-size: 10px;
  direction: rtl;
  text-align: center;
}
section .main .icons-and-description .description {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
}
section .main .icons-and-description .description span {
  direction: rtl;
  text-align: justify;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5960784314);
}
section .main .icons-and-description .description span strong {
  color: #ffffff;
}
section .main .sign-up-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #FFD843 0%, #FFAF20 100%);
  box-shadow: 0 14px 28px 0 rgba(255, 175, 32, 0.3);
  border-radius: 44.5px;
  width: 220px;
  height: 50px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
section .main .dynamic-student {
  position: absolute;
  left: 69.5%;
  bottom: 50px;
  width: 270px;
  height: auto;
  animation-name: dynamicStudent;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  section .header a img {
    width: 100px;
    height: auto;
  }
  section .diamond-img {
    top: 10px;
  }
  section .diamond-img img {
    width: 80px;
    height: auto;
  }
  section .main {
    width: 90%;
    height: 670px;
  }
  section .main h1 {
    font-size: 23px;
  }
  section .main .icons-and-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
  }
  section .main .icons-and-description .icons {
    order: 1;
    margin: 5px 10px;
    flex-wrap: wrap;
    width: 250px;
    height: 170px;
  }
  section .main .icons-and-description .description {
    order: 0;
    margin-top: 25px;
  }
  section .main .sign-up-button {
    position: fixed;
    bottom: 10px;
  }
  section .main .dynamic-student {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */