@font-face {
    font-family: IranSans;
    src: url(../assets/font/Iran-Sans.ttf);
}
@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes dynamicStudent {    
  0% {bottom: 50px;}
  50% {bottom: 70px;}
  100% {bottom: 50px;}
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: IranSans;
}
#particles-js {
    z-index: -1;
}
section {
    @include vertical-center();
    z-index: 1;
    .header {
        margin-top: 25px;
        z-index: 1;
        a {
            img {
                width: 150px;
                height: auto;
            }
        }
    }
    .diamond-img {
        position: relative;
        top: 30px;
        z-index: 1;
        img {
            width: 130px;
            height: auto;
        }
    }
    .main {
        @include vertical-center();
        background-color: #97979733;
        backdrop-filter: blur(4px);
        position: relative;
        bottom: 30px;
        width: 66%;
        height: 450px;
        border: 2px solid #3b8eb1;
        border-radius: 15px;
        h1 {
            color: #ffffff;
            text-align: center;
            font-size: 25px;
            span {
                color: #FFD843;
            }
        }
        .icons-and-description { 
            @include horizontal-center();  
            margin-right: 30%;     
            .icons {
              @include vertical-center();             
              width: 200px;
              height: 200px;
              margin: 0 15% 0 5%;
                img {
                    width: 25px;
                    height: auto;
                }                    
                .icon-subtitle {
                    color: #ffffff;
                    font-size: 10px;
                    direction: rtl;
                    text-align: center;
                    strong {
                        // font-size: 13px;
                    }
                }
            }
            .description {
                display: flex;
                width: 80%;
                margin-bottom: 20px;
                span {
                      direction: rtl;
                      text-align: justify;
                      font-size: 14px;
                      color: #ffffff98;
                      strong {
                          color: #ffffff;
                      }
                    }
            }
        }
        .sign-up-button {
        @include horizontal-center();
        background-image: linear-gradient(180deg, #FFD843 0%, #FFAF20 100%);
        box-shadow: 0 14px 28px 0 rgba(255,175,32,0.30);
        border-radius: 44.5px;
        width: 220px;
        height: 50px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        // :hover {
            
        // }
        }
        .dynamic-student {
            position: absolute;
            left: 69.5%;
            bottom: 50px;
            width: 270px;
            height: auto;
            animation-name: dynamicStudent;
            animation-duration: 3.5s;
            animation-iteration-count: infinite;
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
section {  
  .header {
        a {
            img {
                width: 100px;
                height: auto;
            }
        }
    }
    .diamond-img {
      top: 10px;
        img {
            width: 80px;
            height: auto;
        }
    }
    .main {
      width: 90%;
      height: 670px;
      h1 {
        font-size: 23px;
      }
      .icons-and-description {
        @include vertical-center();
        margin-right: 0%;
        .icons {
            order: 1;
            margin: 5px 10px;
            flex-wrap: wrap;
            width: 250px;
            height: 170px;
        }
        .description {
            order: 0;
            margin-top: 25px;
        }
      }
    .sign-up-button {
        position: fixed;
        bottom: 10px;
    }
    .dynamic-student {
        display: none;
    }
}
}
}